@using OgrencıMvc.Models.EntityFramwork
@model List<TBLNOTLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>NOTID</th>
        <th>DERS</th>
        <th>OGRENCİ</th>
        <th>SINAV1</th>
        <th>SINAV2</th>
        <th>SINAV3</th>
        <th>PROJE</th>
        <th>ORTALAMA</th>
        <th>DURUM</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach(var not in Model)
            {
        <tr>
            <td>@not.NOTID</td>
            <td>@not.DERSID</td>
            <td>@not.OGRID</td>
            <td>@not.SINAV1</td>
            <td>@not.SINAV2</td>
            <td>@not.SINAV3</td>
            <td>@not.PROJE</td>
            <td>@not.ORTALAMA</td>
            <td>@not.DURUM</td>
            <td>
                @*<a href="/kulupler/sil/@not.NOTID" class="btn btn-danger">Sil</a>*@
                <a href="/Not/notgetir/@not.NOTID" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
            }
    </tbody>

</table>
<a href="/Not/YeniSinav" class="btn btn-primary">Yeni sınav girişi</a>

